.jumbotron {
    width: 75%;
    text-align: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
h4 {
    text-align: center;
}
table {
    margin-top: 20px;
}
.selecionado {
    background-color: yellow;
    font-size: 15px;
}
.negrito {
    font-weight: bold;
}
