.ui-alert{
    background-color: #f4dada;
    padding: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 5px;

}

.ui-alert-title{
    color: #red;
    font-size: 15px;
    font-weight: bold;
}

.ui-alert-message{
    color: #f2de;
    font-size: 15px;
}
