<!DOCTYPE html>
<html ng-app="ListaTelefonica">
    <head>
        <link rel="stylesheet" href="bootstrap/bootstrap.css" media="screen" title="no title" charset="utf-8">
        <meta charset="utf-8">
        <title>Lista Telefonica</title>
        <script src="angular.js" charset="utf-8"></script>
        <style media="screen">
            .jumbotron {
                width: 500px;
                margin-top: 20px;
                margin-left: auto;
                margin-right: auto;
            }
            h4 {
                text-align: center;
            }
            table {
                margin-top: 20px;
            }
            .selecionado {
                background-color: yellow;
                font-size: 15px;
            }
            .negrito {
                font-weight: bold;
            }

        </style>
        <script type="text/javascript">
            angular.module("ListaTelefonica", []);
            angular.module("ListaTelefonica").controller("listaTelefonicaCtrl", listaTelefonicaCtrl);

            /*@ngInject*/
            function listaTelefonicaCtrl($scope) {

                $scope.listaContatos = [
                    {
                        nome: 'Ivan',
                        sobrenome: 'Hoinacki',
                        telefone: '991921699',
                        cor: 'yellow'
                    }, {
                        nome: 'Ana',
                        sobrenome: 'da silva',
                        telefone: '99944455',
                        cor: 'red'
                    }, {
                        nome: 'Pedro',
                        sobrenome: 'nunes',
                        telefone: '88566458',
                        cor: '#C1C1C1'
                    }
                ];

                $scope.listaOperadoras = [
                    {
                        nome: 'Vivo',
                        id: 1,
                        categoria: 'Movel'
                    }, {
                        nome: 'Nextel',
                        id: 6,
                        categoria: 'Fixo'
                    }, {
                        nome: 'Claro',
                        id: 2,
                        categoria: 'Movel'
                    }, {
                        nome: 'Tim',
                        id: 3,
                        categoria: 'Movel'
                    }, {
                        nome: 'Oi',
                        id: 4,
                        categoria: 'Movel'
                    }, {
                        nome: 'GVT',
                        id: 5,
                        categoria: 'Fixo'
                    }
                ];

                $scope.adicionarContato = function(contato) {
                    $scope.listaContatos.push(angular.copy(contato));
                    delete $scope.contato;
                };

                $scope.isSelecionado = function(contatos) {
                    return contatos.some(function(contato) {
                        return contato.selecionado;
                    })
                };

                $scope.apagarContatos = function(contatos) {
                    $scope.listaContatos = contatos.filter(function(contato) {
                        if (!contato.selecionado)
                            return contato;
                        }
                    );
                };

                $scope.app = "Lista de Contatos";

                // $scope.vetClasses = ['classe1', 'classe2'];

            }
        </script>
    </head>
    <body ng-controller="listaTelefonicaCtrl">
        <div>
            <div class="jumbotron" ng-cloak>
                <h4>{{ app }}</h4>

                <table ng-show="listaContatos.length > 0" class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Nome</th>
                            <th>Sobrenome</th>
                            <th>Telefone</th>
                            <th>Cor</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-class="{ 'selecionado negrito' : contato.selecionado }" ng-repeat="contato in listaContatos">
                            <td>
                                <input type="checkbox" ng-model="contato.selecionado">
                            </td>
                            <td>
                                {{ contato.nome }}
                            </td>
                            <td>
                                {{ contato.sobrenome }}
                            </td>
                            <td>
                                {{ contato.telefone }}
                            </td>
                            <td>
                                <div style="width:40px; height:40px;" ng-style="{'background-color' : contato.cor}"></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <hr>
                {{contato}}
                <form>
                    <div class="row">
                        <div class="form-group">
                            <input type="text" placeholder="Informe um nome" class="form-control" ng-model="contato.nome" name="nome">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Informe um Sobrenome" ng-model="contato.sobrenome" name="sobrenome">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Informe um Telefone" ng-model="contato.telefone" name="telefone">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <select class="form-control" ng-model="contato.operadora" ng-options="operadora.nome group by operadora.categoria for operadora in listaOperadoras | orderBy : 'id' ">
                                <option value="">Selecione um operadora</option>
                            </select>
                        </div>
                    </div>
                    <button type="button" name="button" ng-show="isSelecionado(listaContatos);" ng-click="apagarContatos(listaContatos)" class="btn btn-danger">Deletar</button>
                    <button type="button" ng-click="adicionarContato(contato);" ng-disabled="!contato.nome || !contato.sobrenome || !contato.telefone" name="button" class="btn btn-primary">Adicionar</button>

                </form>
            </div>
        </div>
        <div ng-include="'footer.html' "></div>
    </body>
</html>
