<!DOCTYPE html>
<html ng-app="ListaTelefonica">
    <head>
        <link rel="stylesheet" href="bootstrap/bootstrap.css" media="screen" title="no title" charset="utf-8">
        <meta charset="utf-8">
        <title>Lista Telefonica</title>
        <script src="angular.js" charset="utf-8"></script>
        <script src="angular.message.js" charset="utf-8"></script>
        <style media="screen">
            .jumbotron {
                width: 75%;
                text-align: center;
                margin-top: 20px;
                margin-left: auto;
                margin-right: auto;
            }
            h4 {
                text-align: center;
            }
            table {
                margin-top: 20px;
            }
            .selecionado {
                background-color: yellow;
                font-size: 15px;
            }
            .negrito {
                font-weight: bold;
            }

        </style>
        <script type="text/javascript">
            angular.module("ListaTelefonica", ['ngMessages']);
            angular.module("ListaTelefonica").controller("listaTelefonicaCtrl", listaTelefonicaCtrl);

            /*@ngInject*/
            function listaTelefonicaCtrl($http, $scope, uppercaseFilter) {

                $scope.listaContatos = [];

                var carregaContatos = function() {
                    $http.get('http://localhost:8081/contatos').success(function(data) {
                        $scope.listaContatos = data;
                    }).error(function(data, status) {
                        console.log(data, status);
                    });
                };

                $scope.adicionarContato = function(contato) {
                    contato.dataNascimento = new Date();
                    contato.cor = "red";
                    $http.post("http://localhost:8081/contatos", contato).success(function(data) {
                        delete $scope.contato;
                        $scope.contatoForm.$setPristine();
                        carregaContatos();
                    });
                };

                var carregaOperadoras = function() {
                    $http.get('http://localhost:8081/operadoras').success(function(data) {
                        $scope.listaOperadoras = data;
                    }).error(function(data, status) {
                        console.log(data, status);
                    });
                };

                $scope.isSelecionado = function(contatos) {
                    return contatos.some(function(contato) {
                        return contato.selecionado;
                    })
                };

                $scope.apagarContatos = function(contatos) {
                    $scope.listaContatos = contatos.filter(function(contato) {
                        if (!contato.selecionado)
                            return contato;
                        }
                    );
                };

                $scope.ordernaPor = function(criterioOrdenacao) {
                    $scope.txtCriterioOrdemacao = criterioOrdenacao;
                    $scope.direcaoOrdenacao = !$scope.direcaoOrdenacao;
                };

                $scope.app = "Lista de Contatos";

                // $scope.vetClasses = ['classe1', 'classe2'];

                $scope.numero = 1000;

                carregaContatos();
                carregaOperadoras();
            }
        </script>
    </head>
    <body ng-controller="listaTelefonicaCtrl">
        <div>
            <div class="jumbotron" ng-cloak>
                <h4>{{ app }}</h4>

                <input type="text" placeholder="O que vc está buscando?" class="form-control" ng-model="txtCriterioDeBusca" name="buscar">

                <table ng-show="listaContatos.length > 0" class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>
                                <a href="#" ng-click="ordernaPor('nome')">Nome</a>
                            </th>
                            <th>
                                <a href="#" ng-click="ordernaPor('sobrenome')">Sobrenome</a>
                            </th>
                            <th>Telefone</th>
                            <th>Operadora</th>
                            <th>Nascimento</th>
                            <th>Cor</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-class="{ 'selecionado negrito' : contato.selecionado }" ng-repeat="contato in listaContatos | filter : txtCriterioDeBusca  |  orderBy : txtCriterioOrdemacao : direcaoOrdenacao ">
                            <td>
                                <input type="checkbox" ng-model="contato.selecionado">
                            </td>
                            <td>
                                {{ contato.nome | lowercase }}
                            </td>
                            <td>
                                {{ contato.sobrenome | uppercase }}
                            </td>
                            <td>
                                {{ contato.telefone }}
                            </td>
                            <td>
                                {{  contato.operadora.nome + ' - ' + (contato.operadora.valor | currency )}}
                            </td>
                            <td>
                                {{ contato.dataNascimento | date:'dd/MM/yyyy hh:mm:ss'}}
                            </td>
                            <td>
                                <div style="width:40px; height:40px;" ng-style="{'background-color' : contato.cor}"></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <hr>
                {{ contato  }}
                <form name="contatoForm">
                    <div class="row">
                        <div class="form-group">
                            <input type="text" ng-required="true" minlength="10" placeholder="Informe um nome" class="form-control" ng-model="contato.nome" name="nome">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <input type="text" ng-required="true" class="form-control" placeholder="Informe um Sobrenome" ng-model="contato.sobrenome" name="sobrenome">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <input type="text" ng-required="true" class="form-control" placeholder="Informe um Telefone" ng-model="contato.telefone" name="telefone" ng-pattern="/^\d{4,5}-\d{4}$/">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <select class="form-control" ng-model="contato.operadora" ng-options="operadora.nome + ' ( ' + (operadora.valor | currency) + ' )' group by operadora.categoria for operadora in listaOperadoras | orderBy : 'id' ">
                                <option value="">Selecione um operadora</option>
                            </select>
                        </div>
                    </div>
                </form>

                <div ng-show="contatoForm.nome.$dirty" ng-messages="contatoForm.nome.$error">
                    <div ng-message="required" class="alert alert-danger">
                        Por favor, preencha o campo nome!
                    </div>
                    <div ng-message="minlength" class="alert alert-danger">
                        O campo nome deve ter no mínimo 10 caracteres.
                    </div>
                </div>
                <div ng-show="contatoForm.telefone.$error.required && contatoForm.telefone.$dirty" class="alert alert-danger">
                    Por favor, preencha o campo telefone!
                </div>
                <div ng-show="contatoForm.telefone.$error.pattern" class="alert alert-danger">
                    O campo telefone deve ter o formato DDDDD-DDDD.
                </div>
                <hr>
                <button type="button" ng-click="adicionarContato(contato);" ng-disabled="contatoForm.$invalid" name="button" class="btn btn-primary btn-block">Adicionar</button>
                <button type="button" name="button" ng-if="isSelecionado(listaContatos);" ng-click="apagarContatos(listaContatos)" class="btn btn-danger btn-block">Deletar</button>
            </div>
        </div>
        <!-- <div ng-include="'footer.html' "></div> -->
    </body>
</html>
