<div id="menu">
    <div class="panel">
        <h1 class="name">XBurgue</h1>
        <h2 class="type">Grande</h2>
        <span class="price">$4.50</span>
        <span class="abv">$4.50</span>
    </div>
    <div class="panel">
        <h1 class="name">Combo</h1>
        <h2 class="type">Grande</h2>
        <span class="price">$5</span>
        <span class="abv">$5.50</span>
    </div>
    <div class="panel">
        <h1 class="name">Heineken</h1>
        <h2 class="type">Litro</h2>
        <span class="price">$4.50</span>
        <span class="abv">$4.50</span>
    </div>
    <div class="panel">
        <h1 class="name">Coca</h1>
        <h2 class="type">Litro</h2>
        <span class="price">$4</span>
        <span class="abv">$4</span>
    </div>
</div>
